* {
    font-family: Arial;
    margin:0;
    padding:0;
}

section {
    border: 2px dotted #000;
    display: block;
    margin: 25px auto 25px auto;
    padding: 25px;
    width: 70%;
}

p, li {
    font-size: 16px;
    text-align: justify;
}

li {
    /*list-style: none;*/
}

h1 {
    margin-bottom: 25px;
}

p {
    margin-top: 15px;
}

p:hover {
	color: red;
}

input:focus {
	background: red;
	color: white;
}

p:first-letter {
	font-size: 200%;
}

p:first-line {
	color: red;
	font-weight: bold;
}

/*
ul li:first-child {
	color: red;
}
ul li:last-child {
	color: blue;
}

li:before {
	background: red;
	color: white;
	content:"antes";
}

li:after:hover {
	background: black;
}
li:hover:after {
	background: red;
	color: white;
	content:"depois";
}
*/

ul ul {
	display: none;
}
li:hover ul {
	display: block;
}







