section {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 500px;
}

/*body {
	color: #FFF;
	background-color: rgb(50,50,50);
	background-image: url(../img/cachorro.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}*/

#bgcolor, #bgimage, #bgrepeat, #bgposition, #bgattachment
{
	background-color: #F00;
}

#bgimage, #bgrepeat, #bgposition, #bgattachment
{
	background-image: url(../img/cachorro.png);
}

#bgrepeat, #bgposition, #bgattachment
{
	background-repeat: no-repeat;
}

#bgposition, #bgattachment
{
	background-color: #F0F;
	background-position: center top;
}

#bgattachment
{
	background-attachment: fixed;
}

#bg {
	background: #000 url(../img/cachorro.png) no-repeat 0 0 fixed;
	color: #FFF;
	
	width: 200px;
	height: 200px;
	overflow: scroll;
}